.rotate{
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width:0;
    height:0;
    transition: all .4s ease-in-out;
  }
@media (max-height:540px){
    @media (orientation: landscape){
        .rotate{
            display: flex;
            width: 100vw;
            height: 100vh;
            z-index: 1100;
        }  
      }

}
 