.color_items.open {
    overflow: hidden;
    animation: fadeIN .5s ease-in-out forwards;
    max-width: max-content !important;
}


@keyframes fadeIN {
    from {
        width: 0;
        left:.5rem ;
    }

    to {
        width: 300px;
        left: .7rem;
    }
}