.about{
    min-height: 100vh;
    background: fixed url(../../../assets/images/bg-01.jpg) center no-repeat;
    background-size: cover;
}
.page-title-b{
 border-bottom: 1px dashed rgba(255,255,255,.2);
}
.b-b-b{
    padding-bottom: 3px;
    border-bottom: 4px solid var(--color-blue);
}
.b-t-n{
    padding:0 8px 8px ;
    border: 3px solid var(--color-blue);
    border-top: none;
    width: max-content;
}
.btn{
    background-color: transparent;
    color:var(--color-blue);
    transition: all .5s ease-in-out;
    border-color: var(--color-blue);
}
.btn:hover{
color: black;
background-color:var(--color-blue);
}

