
.btn-container{
    border: 2px dashed var(--color-blue);
}

.port-card{
    position: relative;
    cursor:help;
    max-height:400px;
    animation-delay: .3s;
    animation-duration: 1.5s;
}
.port-img{
    width: 100%;
    max-height:400px;
}
.pord-desc{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:0;
    height:0;
    opacity: 0;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.9);
    overflow: hidden;
    transition: all 1s ease-in-out;
  
}
.port-card:hover .pord-desc{
    width: 100%;
    height:100%;
    opacity: 1;
}