@font-face {
  font-family: tanha;
  src: url('./assets/font/tanha/Tanha-FD-WOL.eot');
  src: url('./assets/font/tanha/Tanha-FD-WOL.eot?#iefix') format('FontName-opentype'),
       url('./assets/font/tanha/Tanha-FD-WOL.woff') format('woff'),
       url('./assets/font/tanha/Tanha-FD-WOL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root{
  --color-blue:#00a3e1;
  --bg-color : #363b41;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"tanha",Tahoma,sans-serif ;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  overflow-x: hidden;
  background-color: var(--bs-secondary);
}
#root{
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.page{
  position: absolute;
  left: 0;
  min-height: 100vh;
  padding: 30px 15px;
  background-color:var(--bg-color) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-just{
  text-align: justify;
}

.page-title-b{
  border-bottom: 3px dashed rgba(255,255,255,.2);
 }
 .b-b-b{
     padding-bottom: 3px;
     border-bottom: 4px solid var(--color-blue);
 }
 .b-t-n{
     padding:0 8px 8px ;
     border: 3px solid var(--color-blue);
     border-top: none;
     width: max-content;
 }
 .btn{
     background-color: transparent;
     color:var(--color-blue);
     transition: all .6s ease-in-out;
     border-color: var(--color-blue);
 }
 .btn:hover{
 color: black;
 background-color:var(--color-blue);
 }
 
 
