@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: tanha;
    src: url('/public/font/tanha/Tanha-FD-WOL.eot');
    src: url('/public/font/tanha/Tanha-FD-WOL.eot?#iefix') format('FontName-opentype'),
        url('/public/font/tanha/Tanha-FD-WOL.woff') format('woff'),
        url('/public/font/tanha/Tanha-FD-WOL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url('../public/font/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


:root {
    --color-primary: #0088ff;
    --color-main: #111;
    --color-pray: #333333;
    --color-text: #fff;
    --color-gray: #999;
    --font-base: "tanha"
}

body.light {
    --color-main: #fff;
    --color-pray: #ddd;
    --color-text: #111;
    --color-gray: #333;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    text-decoration: none;
    font-family: var(--font-base);
    color: var(--color-text);
}

body {
    background-color: var(--color-main);
    overflow-x: hidden;
    direction: rtl;
}

body.ltr {
    direction: ltr;
    --font-base: "Poppins"
}


/* scrollbars ------------------ */
::-webkit-scrollbar {
    width: 4px !important;
}

::-webkit-scrollbar-track {
    background: var(--color-text);
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-pray);
}

@media (prefers-color-scheme: light) {
    :root {
        --color-main: #fff;
        --color-pray: #ddd;
        --color-text: #111;
        --color-gray: #333;
    }

    body.dark {
        --color-main: #111;
        --color-pray: #333;
        --color-text: #fff;
        --color-gray: #999;
    }

}