@font-face {
  font-family: tanha;
  src: url('./assets/font/tanha/Tanha-FD-WOL.eot');
  src: url('./assets/font/tanha/Tanha-FD-WOL.eot?#iefix') format('FontName-opentype'),
       url('./assets/font/tanha/Tanha-FD-WOL.woff') format('woff'),
       url('./assets/font/tanha/Tanha-FD-WOL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root{
  --color-blue:#6ec1e4;
  --bg-color : #292b2c;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"tanha",Tahoma,sans-serif ;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  overflow-x: hidden;
  background-color: var(--bg-color);
}
#root{
  position: relative;
  width: 100%;
  min-height: 100vh;
}
h2{
  color: #6ec1e4;
  z-index: 100;
}
.page{
  position: absolute;
  left: 0;
  height: 100%;
  padding: 30px 5px;
  border: 1px solid white;
}
